* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background-color: #A51212;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
h1, h2 {
    font-family: 'Play', sans-serif;
}
h2 {
    margin: 10px;
}
nav a:link, nav a:visited {
    font-family: 'Play', sans-serif;
    color: #A51212;
    text-decoration: none;
    font-size: 1.75rem;
}
nav a:hover {
    color: red;
}
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    width: 100%;
    height: 3rem;
    top: 0;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-items: space-between;
    list-style: none;
    gap: 20px;
}
main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    align-items: center;
    line-height: 2rem;
}

#about-me, #contact {
    grid-column: 2 / span 1;
    padding-top: 50px;
}
#about-me img, #contact img {
    border-radius: 50%;
    width: 200px;
    border: solid black 2px;
    
}

#projects {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    
}
#skills {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    padding-bottom: 100px;
 
}
i {
    font-size: 2rem;
    letter-spacing: 1rem;
    color: white;
}

footer {
    background-color: white;
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
}
@media only screen and (max-width: 660px) {
    header {
        justify-content: center;
    }
    nav a:link, nav a:visited {
        font-size: 1.5rem;
    }
    header h1 {
        display: none;
    }
    #about-me, #projects, #skills, #contact {
        grid-column: 1 / span 3;
    }
    
}